<div class="container">
  <div class="row">

    <div class="card central">
      <div class="card-body card-text-center">
        <p>Você está no Diarista Clean</p>
        <p>Bem-vindo(a) à nova forma de contratar faxinas!</p>
        <p class="undo">
          Instagram: <a href="https://www.instagram.com/diaristaclean1/"> @diaristaclean1</a>
        </p>
        <p class="undo">
          Github: <a href="https://github.com/koliveiram/Projeto-Integrador-II"> Projeto-Integrador-II</a>
        </p>

      </div>
    </div>

  </div>
  <div class="row">

   <div class="col">
    <div class="card size" style="width: 18rem;">
      <img src="/assets/shield.png" class="card-img-top shield">
      <div class="card-body">
        <h5 class="card-title">Profissionais</h5>
        <p class="card-text">
          Aqui na Diarista Clean você terá os melhores profissionais da área,
          experientes, amigáveis e com antecedentes certificados através de
          feedbacks.
        </p>
      </div>
    </div>
   </div>

   <div class="col">
    <div class="card size" style="width: 18rem;">
      <img src="/assets/spray.png" class="card-img-top spray">
      <div class="card-body">
        <h5 class="card-title">Produtos</h5>
        <p class="card-text">
          Os profissionais levam os produtos para a limpeza, mas se preferir
          usar os seus é so avisar com antecedência.
        </p>
      </div>
    </div>
   </div>

   <div class="col">
    <div class="card size" style="width: 18rem;">
      <img src="/assets/clock.png" class="card-img-top clock">
      <div class="card-body">
        <h5 class="card-title">Faxinas na Medida</h5>
        <p class="card-text">
          Agende de forma fácil, prático e com qualidade, limpezas
          de vários tamanhos.
        </p>
      </div>
    </div>
   </div>

  </div>



