<div class="corpo">
  <div>
    <form class="d-flex" role="search">
      <input id="input-buscar-clientes" class="form-control me-2" type="search" placeholder="Digite o nome do cliente"
      aria-label="Search" (input)="search($event)">
    </form>
  </div>

  <div id="tabela-clientes">
    <h1 [align]="'center'">Agendamentos</h1>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th class="id-cliente">#</th>
                <th scope="col">Nome do Cliente</th>
                <th scope="col">Nome da Diarista</th>
                <th scope="col">Data e Hora Agendada</th>
                <th scope="col">Data Realizada</th>
                <th scope="col">
                  <button class="btn btn-primary" routerLink="/agendamentos/cadastro" *ngIf="!isDiarista">
                    Realizar <br>Agendamento
                  </button>
                </th>
            </tr>
        </thead>
        <tbody class="fields">
            <tr *ngFor="let agendamento of agendamentos | paginate: { itemsPerPage: 5, currentPage: p }">
                <td class="id-cliente">{{agendamento.id}}</td>
                <td>{{agendamento.cliente.nome}}</td>
                <td>{{agendamento.diarista.nome}}</td>
                <td>{{agendamento.dataAgendadaStr}}</td>
                <td>{{agendamento.dataRealizada}}</td>
                <td>
                    <div>
                        <button class="btn btn-info" routerLink="/agendamentos/editar/{{agendamento.id}}" *ngIf="!isDiarista">
                          Editar
                        </button>
                        <button class="btn btn-success" (click)="finalizar(agendamento.id)" *ngIf="isDiarista && !agendamento.dataRealizada">
                          Finalizar
                        </button>
                        <button class="btn btn-danger" (click)="openModalComponent(agendamento.id)">
                          Excluir
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>




